<div class="flex flex-col max-h-screen bg-card">
    <!-- Header -->
    <div class="flex items-center justify-between p-8 border-b">
        <div class="flex items-center">
            <mat-icon class="icon-size-7 mr-3 text-primary">{{data.isNew ? 'add_circle' : 'edit'}}</mat-icon>
            <div class="text-2xl font-semibold">{{data.isNew ? 'Nuevo Servicio' : 'Editar Servicio'}}</div>
        </div>
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Content -->
    <div class="flex-auto p-8 overflow-y-auto" [formGroup]="form">
        <div class="grid grid-cols-2 gap-6">
            <!-- Primera columna -->
            <div class="flex flex-col gap-6">
                <mat-form-field class="w-full">
                    <mat-label>Nombre del Solicitante</mat-label>
                    <input matInput formControlName="nombreSolicitante">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Carnet</mat-label>
                    <input matInput formControlName="carnet">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Cargo</mat-label>
                    <input matInput formControlName="cargo">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Tipo de Solicitante</mat-label>
                    <input matInput formControlName="tipoSolicitante">
                </mat-form-field>
            </div>

            <!-- Segunda columna -->
            <div class="flex flex-col gap-6">
                <mat-form-field>
                    <mat-label>Oficina Solicitante</mat-label>
                    <input matInput formControlName="oficinaSolicitante">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefonoSolicitante">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Código de Bienes</mat-label>
                    <input matInput formControlName="codigoBienes">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="SIN ASIGNAR">Sin Asignar</mat-option>
                        <mat-option value="PENDIENTE">Pendiente</mat-option>
                        <mat-option value="EN PROGRESO">En Progreso</mat-option>
                        <mat-option value="TERMINADO">Terminado</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Campos de ancho completo -->
        <div class="mt-6">
            <mat-form-field class="w-full">
                <mat-label>Problema</mat-label>
                <textarea matInput
                          formControlName="problema"
                          [rows]="3"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="3"
                          cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>

            <mat-form-field class="w-full mt-6">
                <mat-label>Observaciones</mat-label>
                <textarea matInput
                          formControlName="observacionesProblema"
                          [rows]="3"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="3"
                          cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
        </div>
    </div>

    <!-- Actions -->
    <div class="flex items-center justify-end p-6 px-8 border-t">
        <button mat-button (click)="closeDialog()">
            Cancelar
        </button>
        <button class="ml-3"
                mat-flat-button
                [color]="'primary'"
                (click)="save()">
            {{data.isNew ? 'Crear' : 'Guardar'}}
        </button>
    </div>
</div>
