<div class="card" [ngClass]="{'dark:bg-gray-800': true}" (click)="openCardDetails()">
    <div class="card-header">
        <div class="flex items-center">
            <div class="status-indicator" [ngClass]="card.estado.toLowerCase()"></div>
            <span class="ml-2 font-medium">{{card.nombreSolicitante}}</span>
        </div>
    </div>
    <div class="card-content">
        <p class="description line-clamp-3">{{card.problema}}</p>
        <div class="mt-2 flex items-center justify-between text-sm text-gray-500">
            <span>{{card.fechaRegistro | date:'shortDate'}} • Técnico: {{card.tecnicoAsignado}}</span>
            <div class="flex items-center gap-3" *ngIf="card.tecnicoAsignado">
                <span mat-button 
                        class="estado-badge" 
                        [ngClass]="card.estado.toLowerCase().replace(' ', '-')"
                        disableRipple>
                    {{card.estado}}
                </span>
            </div>
        </div>
    </div>
</div>
