.service-dialog {
    .mat-dialog-container {
        padding: 0;
        border-radius: 8px;
    }

    .mat-dialog-content {
        margin: 0;
        padding: 0;
    }
}

.error-snackbar {
    background: #f44336;
    color: white;
    
    .mat-simple-snackbar-action {
        color: white;
    }
} 